.sidenote {
  font-style: italic;
  font-size: 12px;
}

.main-heading {
  font-size: 46px;
}

hr {
  width: 80%;
}

.content{
  width: 85%;
}

body {
  background-image: url("meditation.jpg");
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
